.chat-area {
	header {
		display: flex;
		align-items: center;
		padding: 18px 30px;

		.arrow-icon {
			font-size: 30px;
			color: $primaryColor;
			padding: 0 20px;
		}

		img {
			@include width-height(45px, 45px);
			margin: 0 15px;
		}

		.details {
			span {
				@include font-size-weight($buttonFontSize, 500);
			}
		}
	}

	.chat-box {
		overflow-y: auto;
		height: 500px;
		background: #f7f7f7;
		padding: 10px 30px 20px 30px;
		box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
			inset 0 -32px 32px -32px rgb(0 0 0 / 5%);

		&::-webkit-scrollbar {
			width: 0;
		}

		.chat {
			margin: 15px 0;
			opacity: 0;
			transform: translateY(20px);
			transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

			p {
				word-wrap: break-word;
				color: #333;
				padding: 8px 16px;
				box-shadow: 0 0 32px rgb(0 0 0 / 8%), 0 16px 16px -16px rgb(0 0 0 / 10%);
			}
		}

		.sent {
			opacity: 1;
			transform: translateY(0);
		}

		.outgoing {
			display: flex;

			.details {
				margin-left: auto;
				max-width: calc(100% - 130px);

				p {
					background-color: $primaryColor;
					color: $whiteColor;
					border-radius: 18px 18px 0 18px;
				}
			}
		}

		.incoming {
			display: flex;
			align-items: flex-end;

			.details {
				margin-left: 10px;
				margin-right: auto;
				max-width: calc(100% - 130px);

				p {
					background-color: $whiteColor;
					border-radius: 18px 18px 18px 0;
				}
			}

			img {
				@include width-height(35px, 35px);
			}
		}
	}

	.typing-area {
		padding: 18px 30px;
		display: flex;
		justify-content: space-between;

		input {
			font-size: $inputFontSize;
			@include width-height(calc(100% - 58px), 45px);
			border: 1px solid $borderColor;
			padding: 0 13px;
			border-radius: 5px 0 0 5px;
			outline: none;
		}

		button {
			width: 55px;
			border: none;
			outline: none;
			font-size: 19px;
			border-radius: 0 5px 5px 0;
			cursor: pointer;
			background-color: $primaryColor;
			color: $whiteColor;
			transition: all 0.1s ease;

			&:hover {
				font-size: 25px;
			}
		}
	}
}
